* {
    box-sizing: border-box;
}

body {
    background-color: #f0f2f7 !important;
    font-family: Montserrat, sans-serif;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

/** HEADER **/

#logo-img {
    /*background: url("../img/logo-img.png") no-repeat;
    background-size: 100% 100%;*/

    height: 100%;
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
}

.bg-nav {
    background-color: #062c33;
    border-radius: 0;
    position: sticky;
    top: 0;
    z-index: 1000;

}

#store-name {
    vertical-align: middle;
    font-family: 微软雅黑, serif;
    color: #138496;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0 10px 0 0;
    line-height: .75;
}

.nav-item {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#login-btn {
    margin-left: 10px;
}

/* side bar*/
.sidebar {
    border-right: solid 1px #062c33;
}

/*main-content*/
.welcome-msg h2, .welcome-msg p {
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
}

.welcome-msg {
    font-family: 华文宋体, 新宋体, sans-serif;
    font-weight: bold;
    text-align: center;
}

.main-content {
    padding: 16px 40px 16px 48px;
}

.bookCard {
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #f0f2f7;
    margin-bottom: 1px;
    padding: 10px;
    max-height: 100px;
}

.mainColumn {
    display: flex;
    margin: 10px auto;
    width: 600px;
}

.bookName {
    font-weight: bold;
}

.bookDesc {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-break: normal;
}

#main-title {
    margin: 0 0 10px 0;
}

#main_page {
    border-bottom: #062c33 solid 5px;
}

.footer {
    padding-top: 30px;
    margin: auto;
}

.picture-space img {
    width: inherit;
}

.book-list-item {
    background-color: #7abaff;
}
